<<<<<<< HEAD


.box {
    background-color: #f1f1f1;
    width: 360px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
   

  }
  
  .text {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #6b6868;
  }
  
  .new,
  .confirm {
    width: 300px;
    height: 30px;
    margin: 10px auto;
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #ffffff;
  }
  
  .sign {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 425px) {
    .box {
      width: 80%;
      height: 235px;
    }
  
    .box-1 {
      margin: 30px auto;
    }
  
    .new,
    .confirm {
      width: 80%;
      height: 25px;
    }
  
    .sign {
      width: 80px;
      height: 30px;
      margin: 10px auto;
    }
  }
=======
.app {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;
  margin-left: 40px;
}

.app .password,
.app .confirmpwd {
  margin-bottom: 10px;
  width: 300px;
}

.app input[type='password'] {
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.app .err {
  color: red;
  font-size: 14px;
}

.app button {
  display: block;
  width: 88%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Query for screens with a maximum width of 425px */
@media screen and (max-width: 425px) {
  .app {
    padding: 10px;
  }

  .app input[type='password'] {
    font-size: 14px;
  }

  .app .button {
    font-size: 14px;
    width: 500px;
    margin-left: 100px;
  }
}
>>>>>>> c89ee948fbbdf9775b95a5637b384e26219d5eff
